th, td {
  background-color: #8194eb;
}

div {
  position: absolute;
  right: 350px;
 left:350px;
  top: 40px;
  
}
.table3{
      width:400px;
      height:250px;
      padding:2px;
      border:1px;
      background:rgb(69, 177, 105);
      right:50px;
      left:540px;
      bottom:420px;
    
  } 
.table5{
      width:400px;
      height:250px;
      padding:2px;
      border:1px;
      background:rgb(92, 222, 135);
      position:absolute;
      right:50px;
      left:540px;
      bottom:380px;
}
.table7{
      width:400px;
      height:250px;
      padding:2px;
      border:1px;
      background:rgb(20, 212, 84);
      position:absolute;;
    

}
.table8{
      width:400px;
      height:250px;
      padding:2px;
      border:1px;
      background:rgb(20, 212, 84);
      position:absolute;
      right:50px;
      left:540px;
      bottom:65px;

}
    
